<ion-header>

  <div class="container">
      <img src="./assets/img/yeahboy.jpg" style="width:100%;">
      <div class="top-right">id.business.name</div>
      <ion-icon name="arrow-back" class="top-left" routerLink="/list"></ion-icon>
    </div>
</ion-header>

<ion-content>
<div>
  <div>
    <p>id.business.information<br>Tässä on leipätekstiä, jossa voisi vaikka kertoa 
      jotain supertärkeitä informaatioita yrityksistä
      joita sovelluksemme suosittelee. Ja aion myös
      jaaritella vähän vielä lisää, jotta saisin tekstiä
      riittävän paljon mahdollisten kuvan sovittamisien
      ynnä muiden sellaisien kanssa. Kiitos mielenkiinnostanne
      Absolutely no-one.
    </p>
  </div>
   <ion-button class="block">
     <ion-icon class="icon" name="call"></ion-icon>
     id.business.phone
   </ion-button>
   <ion-button class="block">
     <ion-icon class="icon" name="navigate"></ion-icon>
     id.business.address
   </ion-button>     
   <ion-button class="block">
     <ion-icon class="icon" name="logo-chrome"></ion-icon>
     id.business.url
   </ion-button>
   
</div>
</ion-content>
