<ion-header>
  <ion-toolbar><ion-title>Beacon1</ion-title>  </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ul>
          <li routerLink="/info">
            <img src="./assets/img/yeahboy.jpg" >
            <h3>id.business.name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
            
          <li>
            <img src="./assets/img/yeahboy.jpg" >
            <h3>Paradise Found</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
      
          <li>
            <img src="./assets/img/yeahboy.jpg" >
            <h3>Smoke On The Water</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
      
          <li>
            <img src="./assets/img/yeahboy.jpg" >
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
          <li>
              <img src="./assets/img/yeahboy.jpg" >
              <h3>Little Bit Too Late</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
            </li>
        </ul>
      </div>
</ion-content>
